<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dachuan.com.tianyan" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:allowBackup="true"
        android:name=".AppContext"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.VideoActivity"
            android:screenOrientation="landscape"
            android:process=":vitamio"/>
        <activity android:name="io.vov.vitamio.activity.InitActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity android:name=".view.activity.SortDetailAcitivity"
            android:screenOrientation="nosensor"
            />
        <activity android:name=".view.activity.ItemDetailActivity"
            android:screenOrientation="nosensor"
            />
        <activity android:name=".view.activity.MainActivity"
            android:screenOrientation="nosensor"/>
        <!-- 设置AppKey -->
        <meta-data android:name="TESTIN_APPKEY" android:value="764a9393a5053e48d6927c4877bb87c8"/>
        <!-- 设置渠道信息 -->
        <meta-data android:name="TESTIN_CHANNEL" android:value="channel"/>
    </application>

</manifest>
